<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Matches <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          tabindex="-1"
          aria-disabled="true"
          >Messages</a
        >
      </li>
    </ul>
    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle (click)="(false)">
        Welcome {{ username | titlecase }}
      </a>

      <div *dropdownMenu class="dropdown-menu">
        <a class="dropdown-item" href="#"
          ><i class="fa fa-user"></i> Edit Profile
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logOut()">
          <i class="fa fa-sign-out"></i> Logout</a
        >
      </div>
    </div>

    <form
      *ngIf="!loggedIn()"
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        name="username"
        placeholder="Username"
        [(ngModel)]="model.username"
        required
      />
      <input
        class="form-control mr-sm-2"
        name="passwrd"
        type="password"
        placeholder="Password"
        [(ngModel)]="model.password"
        required
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-success my-2 my-sm-0"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
</nav>
